{% extends 'base.html' %}

{% block title %}Séries{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Downloads</div>

        <div class="panel-body">
            {% regroup object_list|dictsort:'tipo' by tipo as serie_list %}
            <ul>
            {% for serie in serie_list %}
                <li>{{ serie.grouper }}
                    <ul>
                        {% for item in serie.list %}
                            <li>{{ item.nome }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}




